<header class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Reddit</a>
        </div>
        <div class="navbar-form navbar-left">
            <div class="form-group">
                {{input action="goToSub" placeholder="input a subreddit" size="30" class="form-control" value=App.sub}}
            </div>
        </div>
    </div>
</header>