{{# if App.user}}
<div class="navbar-right">
    <p class="navbar-text">Hey <strong>{{App.user}}</strong></p>
    <button class="btn btn-primary navbar-btn" {{action "logout" model on="click"}}>Logout</button>
</div>
{{/if}}